# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
Sukhdev Kapur <sukhdev@arista.com> <sukhdevkapur@gmail.com>
Shashank Hegde <shashank@arista.com>
Andre Pech <apech@arista.com>
